.circle {
    border-radius: 50%;
    width: 50px;
    height: auto;
    padding-top: 50px;


}

#red {
    background-color: #e6563b
}

#yellow {
    color: #eb9d3a;

}

#green {
    color: #7cb06c;
}

#blue {
    color: #00aba9
}
#dblue {
    color: #038176;
}

#light {
    color: #f0f0f0;
}

#dark {
    color: #e6e6e6
}

